.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row{
    width: 185px;
    height: 49.936px;
    flex-shrink: 0;
}

nav{
    display: flex;
    gap: 32px;
    padding: 24px;
    margin: 24px;
}

nav a{
    text-decoration: none;
    color: black;
}
  .raw {
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    background-image: url(./image\ 4.png);
    padding: 138px 90px;
    color: aliceblue;
    font-size: 20px;
  }
  .raw .container {
    display: flex;
  }
  .zor {
    background-color: #de2e54;
    color: aliceblue;
    width: 170px;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    padding-left: 0px 50px;
  }
  .maini {
    padding: 0px 85%;
    margin-top: -87px;
  }
  /* section 1 tugadi */
  .somsa{
    color: black;
    font-size: 50px;
    margin-top: -180px;
    text-align: center;
  }
  .limon {
    display: flex;
    padding: 15px 180px;
  }
  .psozi {
    color: rgb(137, 137, 137);
  }
  .all2 {
    padding: 20px 64px;
  }
  .olma {
    display: flex;
    padding: 15px 130px;
    
  }
  .zar {
    padding: 20px 55px;
  }
  
  .lola {
    background-color: #0eb4c1;
  }
  .lili img {
    width: 300px;
    height: 300px;
    background-color: #0eb4c1;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 100px;
  }
  .map{
      width: 513px;
      height: 331px;
      padding: 54px 163px;
  }
   /* hduwhdu */
   .box1{
      width: 550px;
      height: 400px;
     background-color: rgba(0, 0, 0, 0.677);
  }
  .alldiv{
      width: 1200px;
      height: 300px;
      padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  }
  .input1{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(129, 129, 129);
  width: 300px;
  height: 40px;
  border-radius: 5px;
  
  }
  .alldiv{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
  }
  .box1{
      padding: 60px;
      width: 413px;
      height: 531px;
      background-color: rgb(255, 255, 255);
  }
  .box1 input{
  color: rgb(189, 62, 62);
  
  }
  button{
      width: 310px;
      height: 40px;
      background-color: #1AAB7B;
      color: aliceblue;
      border-radius: 3px;
      
  }
  .man{
      display: flex;
  }
  footer{
      display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
      background-color: rgb(54, 54, 54);
  }
  a{
      color: aliceblue;
      text-decoration: none;
  }